# Environment variables
.env
.env.*
!.env.example

# Python
backend/venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store